<div class="app-layout">
  <aside class="sidebar">
    
    <div class="brand">KROMA SOFTWARE</div>
    
    
    <nav class="navigation">
      <a routerLink="/home" routerLinkActive="active">
        <mat-icon>calendar_month</mat-icon>
        <span>Agenda</span>
      </a>
      
      <a routerLink="/walk-ins">
        <mat-icon>group</mat-icon>
        <span>Walk ins</span>
      </a>

      <a routerLink="/payments">
        <mat-icon>point_of_sale</mat-icon>
        <span>Cobros</span>
      </a>

      <a routerLink="/barb-services">
        <mat-icon>content_cut</mat-icon>
        <span>Servicios</span>
      </a>

      <a routerLink="/client">
        <mat-icon>person</mat-icon>
        <span>Clientes</span>
      </a>

      <a routerLink="/about">
        <mat-icon>person</mat-icon>
        <span>Empleados</span>
      </a>

      <a routerLink="/register">
        <mat-icon>ballot</mat-icon>
        <span>Resgitro de usuarios</span>
      </a>
    </nav>

    <div class="sidebar-bottom">
      <div class="mode-selector">
        <span>MODO</span>
        <button type="button">
          <mat-icon>light_mode</mat-icon>
        </button>
        <button type="button">
          <mat-icon>dark_mode</mat-icon>
        </button>
      </div>

      <div class="user-profile">
        <div class="avatar">
          <mat-icon>person</mat-icon>
        </div>

        <div>
          <strong>Carlos Medina</strong>
          <small>Master Barber</small>
        </div>
      </div>
    </div>
  </aside>

  <div class="main-area">
    <header class="topbar">
      <div class="search-box">
        <mat-icon>search</mat-icon>

        <input
          type="search"
          placeholder="Buscar cita..."
        />
      </div>

      

      <button class="profile-button" type="button" aria-label="Abrir perfil">
        <mat-icon>account_circle</mat-icon>
      </button>
    </header>

    <main class="page-content">
    <router-outlet></router-outlet>
  </main>
  </div>
</div>

